# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
.env
*.env

# Archivos de caché y logs
*.log
cache/
logs/
tmp/

# Dependencias de Composer
/vendor/

/composer.lock

# Configuraciones del IDE y editor
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Archivos generados automáticamente
/public/build/
/public/storage/
/storage/framework/
/storage/logs/

# Otros
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
