/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Menú de navegación */
.navbar {
    background-color: #ff9800; 
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #333 !important;
    background-color: #e65100; 
}

/* Pie de página */
footer {
    background-color: #333; 
    color: white;
    font-size: 14px;
}

footer h5 {
    font-size: 16px;
}
